.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.menu .menu__nav {
  display: flex;
}
.menu .menu__login {
  display: flex;
  gap: 1rem;
}
.menu__option,
.menu__option__Colorful {
  padding: 1rem;
  color: #9e9aa7;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 2rem;
}
.menu__option:hover {
  color: var(--dark-violet);
}
.menu__option__Colorful {
  background-color: var(--cyan);
  color: white;
  padding: 1rem 2rem;
}
.menu__option__Colorful:hover {
  background-color: var(--cyan-opaque);
  color: white;
}
