.menuToggle .menuToggle__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.menuToggle .menuToggle__button .button__icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--gray);
}
.menuBar {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5rem 5rem;
  margin: 0 3%;
  width: 94%;
  background-color: var(--dark-violet);
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: white;
}
.menuBar .menuBar__options {
  display: flex;
  flex-direction: column;
}

.menuBar .menuBar__divider {
  border: 1px solid var(--gray-opaque);
}

.menuBar .menuBar__login {
  display: flex;
  flex-direction: column;
}
.menuBar__links,
.menuBar__links__colorful {
  background-color: var(--dark-violet);
  border: none;
  color: var(--white);
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 700;
}

.menuBar__links__colorful {
  background-color: var(--cyan);
  border-radius: 3rem;
  cursor: pointer;
}
.menuBar__links__colorful:hover {
  background-color: var(--cyan-opaque);
}
