.started__btn {
  width: 200px;
  height: 56px;
  color: var(--white);
  background-color: var(--cyan);
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}
.started__btn:hover {
  background-color: var(--cyan-opaque);
}
